<!DOCTYPE html>
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Place Search Service</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/search.css">
</head>
<body>
<form name="searchForm">
  <input type="hidden" id="page" name="page" value="1">
  <input type="hidden" id="size" name="size" value="5">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="search-result-box card-box">
            <div class="row">
              <div class="col-md-8 offset-md-2" style="text-align: right">
                <span class="mb-0 text-muted" sec:authentication="name"></span>님
                <button class="icon_logout"><a class="mb-0 text-muted"
                                               sec:authorize="isAuthenticated()"
                                               th:href="@{/user/logout}">로그아웃</a></button>
              </div>
              <p></p>
              <div class="col-md-8 offset-md-2">
                <div class="pt-3 pb-4">
                  <div class="input-group">
                    <input type="text" id="query" name="query" class="form-control" value="">
                    <div class="input-group-append">
                      <button id="btn-search" type="button"
                              class="btn waves-effect waves-light btn-custom"><i
                          class="fa fa-search mr-1"></i> Search
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end row -->
            <div class="tab-content">
              <div class="tab-pane active" id="search-result">
                <div class="row">
                  <!-- 검색 결과 List-->
                  <div class="col-md-12" id="result-list"></div>
                  <!-- 검색 결과 List-->

                  <!--paging-->
                  <div class="text-center">
                    <ul id="pagination" class="pagination-lg"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- container -->
  </div>
</form>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/jquery.twbsPagination.js"></script>

<script>
  let totalCount = 0;
  let totalDetailCount = 0;

  function show(index) {
    for (let i = 0; i < totalDetailCount; i++) {
      $('#detail' + i).hide();
    }
    $('#detail' + index).show();
  }

  function search() {
    $('#result-list').html('');
    if ($('#query').val() == '') {
      return;
    }
    $.ajax(
        {
          type: "GET",
          url: '/v1/places',
          data: {
            query: $('#query').val(),
            page: $('#page').val(),
            size: $('#size').val()
          },
          contentType: "application/json",
          dataType: "text",
          success: function (res) {
            let obj = JSON.parse(res);
            console.log(obj)
            if (obj.code == 'SUCCESS') {
              totalCount = obj.result.entry.meta.pageable_count;
              totalDetailCount = obj.result.entry.documents.length;
              $('#search-result').show();
            }
            for (let i = 0; i < obj.result.entry.documents.length; i++) {
              let list = obj.result.entry.documents[i];
              let html = '<div class="search-item" id="">';
              html += '<h5 class="mb-1"><a href="javascript:show(' + i + ')">' + list.place_name
                  + '</a></h5>';
              html += '<div class="font-12 text-success mb-3">' + list.category_name + '</div>';

              html += '<div id="detail' + i + '" style="display:none;>"';
              html += '<p class="mb-0 text-muted"> 지번 : ' + list.address_name;
              html += '</br> 도로명 주소 : ' + list.road_address_name;
              html += '</br> 전화번호 : ' + list.phone;
              html += '</br></br> <a href="https://map.kakao.com/link/map/'
                  + list.id + '" target="_blank">Daum 지도 바로 가기</a></p>';
              html += '</div>';

              html += '</div>';
              $('#result-list').append(html);
            }

            //페이징 그리기
            let pageTemp = totalCount / $('#size').val();
            if (totalCount % $('#size').val() > 0) {
              pageTemp++;
            }

            $('#pagination').twbsPagination({
              totalPages: pageTemp,
              visiblePages: 5,
              initiateStartPageClick: false,
              onPageClick: function (event, page) {
                console.log('page : ' + page)
                $('#page').val(page);
                search();
              }
            });
          },
          error: function (xhr, status, error) {
            console.log(error);
          }
        }
    );
    return false;
  }

  $(document).ready(function () {

    $('#result-list').html('');
    $('#search-result').hide();
    $('#search-result-tab').hide();

    $('#btn-search').click(function () {
      search();
    });

  });
</script>

</body>
</html>